<form (ngSubmit)="submit()" [formGroup]="formGroup" *ngIf="formGroup">
  <div class="row">
    <div class="form-group col-md-12">
      <label for="recipeName">Nom</label>
      <input
        class="form-control"
        type="text"
        id="recipeName"
        name="name"
        formControlName="name">
      <p-message severity="error" text="Ce champ est requis" [hidden]="formGroup.controls['name'].valid || formGroup.controls['name'].pristine"></p-message>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-12 mb-2">
      <img [src]="recipe.image" id="recipePic" style="border: 2px solid #000000">
      <input
        class="form-control"
        type="text"
        id="imageUrl"
        name="imageUrl"
        placeholder="URL de l'image"
        formControlName="imageUrl">
    </div>
    <div class="col-md-7 col-12">
      <div class="time-input">
        <label for="nbPortions">Portions:</label>
        <input
          type="number"
          id="nbPortions"
          name="nbPortions"
          formControlName="nbPortions"
          min="1">
      </div>
      <div class="time-input">
        <label>Temps de préparation:</label>
        <input
          type="number"
          id="prepTime"
          name="prepTime"
          formControlName="prepTime">
        min.
      </div>
      <div class="time-input">
        <label>Temps de cuisson:</label>
        <input
          type="number"
          id="cookTime"
          name="cookTime"
          formControlName="cookTime">
        min.
      </div>
      <button type="button" *ngIf="!showExtraTime" (click)="showExtraTime = true" mat-raised-button>+ de temps</button>
      <div *ngIf="showExtraTime" class="time-input">
        <label 
          class="extraTimeLabel" 
          (click)="extraTimeLabelEditing = true"
          *ngIf="!extraTimeLabelEditing">
          {{formGroup.value.extraTimeLabel}}: <i class="fa fa-pencil"></i>
        </label>

        <input
          *ngIf="extraTimeLabelEditing"
          type="text"
          id="extraTimeLabel"
          name="extraTimeLabel"
          formControlName="extraTimeLabel"
          (keypress)="onExtraTimeLabelKeypress($event)">

        <input
          type="number"
          id="extraTime"
          name="extraTime"
          formControlName="extraTime">
        min.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="ingredients">Ingrédients:</label>
    <textarea
      class="form-control"
      id="ingredients"
      name="ingredients"
      formControlName="ingredients">
    </textarea>
  </div>
  <div class="form-group">
    <label for="preparation">Préparation:</label>
    <textarea
      class="form-control"
      id="preparation"
      name="preparation"
      formControlName="preparation"></textarea>
  </div>
  <div class="form-group">
    <label for="tags">Sélectionner des étiquettes</label>
    <!-- <app-tag-selector id="tags" [(ngModel)]="recipe.tags" name="tags"></app-tag-selector> -->
    <ng-select 
      formControlName="tags"
      [items]="allTags"
      [multiple]="true"
      [addTag]="true">
    </ng-select>
  </div>
  <div class="form-group">
    <button type="submit" class="save-button" mat-raised-button color="primary">Ok</button>
    <button type="button" mat-raised-button (click)="done()">Annuler</button>
  </div>
</form>
