@import "~@ng-select/ng-select/themes/material.theme.css";

.main-content {
  width: 100%;
  max-width: 1110px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  display: table;
  padding-bottom: 24px;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

@media (max-width: 500px) {
  .main-content {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .top-bar h1 {
    font-size: 30pt;
  }
}

@media (max-width: 350px) {
  .top-bar h1 {
    font-size: 26pt;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
